* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 25px;
}

.card {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

body {
  text-align: center;
  background-color: rgb(188, 241, 241);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  overflow-x: none;
}
.title {
  text-align: center;
  font-style: italic;
  color: rgb(30, 0, 255);
  font-size: 50px;
}
#guess {
  background-color: azure;
}
button {
  background-color: rgb(138, 228, 228);
  margin-left: 5px;
}
input {
  border: 2rem blue;
  border-radius: 1rem blue;
}

.win {
  background-color: rgb(18, 197, 18);
}
.loose {
  background-color: red;
}
.guesses_left {
  color: chocolate;
}
.incorrect_guesses {
  color: chocolate;
}
.input {
  font-size: 20px;
  color: darkcyan;
  border: solid darkcyan;
  border-width: thin medium thick 1em;
  margin: auto;
}
.letters {
  font-style: italic;
}

.final-message {
  color: rebeccapurple;
}
/*#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
*/
